@import "tailwindcss";

@theme {
  --color-primary: var(--primary-color);
  --color-primary-foreground: var(--primary-foreground);
}

:root {
  --background: #f8fafc; /* light modern background */
  --foreground: #0f172a;
  
  /* Default Branding Colors (Drista) */
  --primary-color: #0f172a; /* Can be overridden per tenant */
  --primary-foreground: #ffffff;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
}
